@{
    ViewData["Title"] = "Sala de escape - créditos";
}
<section class="credito">
<img src="~/img/fotoFede.png" alt="FOTO FEDE">
<h3>Fede Kreserman</h3>
<img src="~/img/fotoDelfi.png" alt="FOTO DELFI">
<h3>Delfi Kaltman</h3>
<img src="~/img/fotoMile.png" alt="FOTO MILE">
<h3>Mile Svatzky</h3>
</section>

<a class="inicio" href='@Url.Action("Index", "Home")'>Inicio</a>