@{
    ViewData["Title"] = "Sala de escape - créditos";
}
<section class="credito">
<img src="~/img/fotoFede.png" alt="FOTO FEDE">
<img src="~/img/fotoDelfi.png" alt="FOTO DELFI">
<img src="~/img/fotoMile.png" alt="FOTO MILE">
</section>