@{
    ViewData["Title"] = "Sala de escape - inicio";
}

<div>
    <h1>90 Minutos para llegar</h1>
    <p>El estadio está por explotar. La hinchada canta, el equipo te espera… pero algo falló: quedaste atrapado fuera.
        Los accesos están cerrados y el tiempo corre.
        Solo resolviendo los acertijos vas a poder entrar y jugar el partido de tu vida.</p>

    <h3>¿Estás listo? La cancha te espera.</h3>
    <a href='@Url.Action("InicializarPartida", "Home")'>Entro a dejarlo todo</a>
    <a href='@Url.Action("Créditos", "Home")'>Los creadores</a>
    <a href='@Url.Action("Tutorial", "Home")'>Tutorial</a>
</div>
