@{
    ViewData["Title"] = "Resultado";
}
<section class="resultado">
    
<h3>¡GOOOOL y campeón! Metiste la última jugada como un crack. El estadio se viene abajo, los parlantes gritan tu nombre y vos, 
con la frente en alto, sabés que te la bancaste en cada desafío. La sala no pudo con vos… ¡sos el dueño de la cancha!</h3>
<img src="/img/champions.png" alt="">
</section>
<a class="inicio" href='@Url.Action("Index", "Home")'>Inicio</a>