@{
    ViewData["Title"] = "Sala cinco";
}
<section class="sala5">


<h3>Ya estás en la cancha, el ruido de la hinchada retumba en tu cabeza. Tenés los botines puestos, la pelota lista... pero algo te detiene.
Una última consigna aparece en la pantalla del estadio:</h3>
<ul>
    <li>G abre el acertijo</li>
    <li>O va caminando al lado</li>
    <li>L lo cierra encantado.</li>
    <li>Si a cada letra le das su lugar, ¿qué tres números vas a anotar?</li>
</ul>
<h2>El estadio te mira en silencio. Solo con la respuesta correcta vas a poder dar el paso hacia la victoria.</h2>


<p>Respuesta:</p>
<form action='@Url.Action("PasarDeSala", "Home")' method='POST'>
    <input type="text" name="respuesta"/>
    <input type="submit" name="arriesgar"/>
</form>
<form class="pista" action='@Url.Action("PasarDeSala")' method="get">
    <input type="hidden" name="click" value="true"/>
        <input type="submit" value="Pista"/>
</form>

@if(ViewBag.pista != null)
{
    <h2>@ViewBag.pista</h2>
}
</section>