@{
    ViewData["Title"] = "Sala uno";
}
<p>Respuesta:</p>
<form action='@Url.Action("InicializarJuego", "Home")' method='POST'>
<input type="text" name="respuesta"/>
<input type="submit" name="Arriesgar"/>
</form>


