@{
    ViewData["Title"] = "Sala dos";
}
<section class="sala2">
<h3>Llegaste a la zona de seguridad del estadio. A pocos metros, dos guardias patrullan el pasillo que lleva al vestuario. Para poder pasar, tenes que descubrir la palabra</h3>

<h2>¿De qué equipo está decorada la habitación?</h2>
<p>Respuesta:</p>
<form action='@Url.Action("PasarDeSala", "Home")' method='POST'>
    <input type="text" name="respuesta"/>
    <input type="submit" name="arriesgar"/>
</form>
<form class="pista" action='@Url.Action("PasarDeSala")' method="get">
   <input type="hidden" name="click" value="true" />
        <input type="submit" value="Pista"/>
</form>

@if(ViewBag.pista != null)
{
    <h2>@ViewBag.pista</h2>
}
</section>