@{
    ViewData["Title"] = "Sala uno";
}
<audio controls> <source src="~/audio/audio.mp3" type="audio/mpeg"></audio>
<p>Respuesta:</p>
<form action='@Url.Action("PasarDeSala", "Home")' method='POST'>
<input type="text" name="respuesta"/>
<input type="submit" name="arriesgar"/>
</form>
<a href='@Url.Action("PedirPista", "Home")'>Quiero una pista</a>


