<section class="tutorial">
<h2>
    Bienvenidos a nuestra sala de escape.
Tu misión es clara: llegar a la cancha y convertir el gol que te consagre campeón. Pero el camino no va a ser fácil. Vas a recorrer vestuarios, túneles y zonas restringidas, resolviendo acertijos y tomando decisiones clave.

Cada espacio te presentará un nuevo desafío. Para avanzar, vas a tener que observar con atención, conectar pistas, y completar pruebas lógicas. Algunas respuestas se escriben, otras se descubren... y otras se piensan como una buena jugada.

No estás solo: podés hablar con tu equipo y combinar ideas. El tiempo corre y la hinchada espera.
¿Tenés lo que hay que tener para ganar el partido?
</h2>
</section>
<a class="inicio" href='@Url.Action("Index", "Home")'>Inicio</a>
